.outer1project{
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.outerproject{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  background-color: #000000;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 15px;
  padding: 5px;
  width: 65%;
}

.outerproject::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.projects{
  width: 250px;
  aspect-ratio: 9/13;
  background-color:#1A1A1A;;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  scroll-snap-align: start;
  border-radius: 5px;
}

.imagesection1{
  width: 90%;
  height: 130px;
  margin-top: 6px;
  background-image: url("https://images.unsplash.com/photo-1595867005771-4d3e811d0886?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2012&q=80");
  /* position: absolute; */
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
  border-radius: 8px;
}

.imagesection2{
  width: 90%;
  height: 130px;
  margin-top: 6px;
  background-image: url("https://img.freepik.com/premium-photo/stock-market-trading-numbers-investment-money-stocks-grow-profit-financial-profits_55997-2342.jpg?w=900");
  /* position: absolute; */
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
  border-radius: 8px;
}

.imagesection3{
  width: 90%;
  height: 130px;
  margin-top: 6px;
  background-image: url("https://images.unsplash.com/photo-1471115853179-bb1d604434e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80");
  /* position: absolute; */
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
  border-radius: 8px;
}

.imagesection4{
  width: 90%;
  height: 130px;
  margin-top: 6px;
  background-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80");
  /* position: absolute; */
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
  border-radius: 8px;
}

.projectheading{
  width: 85%;
  margin-top: 20px;
  padding: 4px;
  color: #9A9A9A;
  font-family: "Outfit", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(97.13deg, #E9E9E9 0%, #515151 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Carter One', cursive;
}

.projectsummary{
  width: 85%;
  margin-top: 16px;
  padding: 4px;
  color: #8A8A8A;
  font-family: "Outfit", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Josefin Sans', sans-serif;
}

.projectbutton{
  width: 85%;
  margin-top: 16px;
}

.btn{
  background-color: #000000;
  border: 2 solid #E5E7EB;
  border-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: color 0.3s, background-color 0.3s;
}



.btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255) ;
}





@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}


.outerabout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(97.13deg, #E9E9E9 0%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}