.skillsouter{
    height: 100vh;
    background-color: rgb(37, 36, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 10vh;

}


.grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to a new line */
  align-items: center;
  justify-content: center;
  height: 430px;
  width: 75%; /* Adjust the width to accommodate the wrapping */
  background-color: #252423;
  border-left: 5px solid;
  border-image: linear-gradient(to left, red 50%, white 50%) 1 100%;
  margin-left: 80px;
  /* box-shadow: 0 10px 15px 3px rgb(236 232 232 / 15%), 0 5px 20px 3px rgb(238 231 231 / 10%); */
}

.grid__item{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #252423;
  transition: transform 0.3s ease;
}


.grid__item:hover {
  transform: scale(1.1) translateZ(10px);
  box-shadow: 0 10px 15px 3px rgb(236 232 232 / 15%), 0 5px 20px 3px rgb(238 231 231 / 10%);
}


   .grid__item:nth-child(1) {
    background-image: url(../skills/c-.png);
  }
  
  .grid__item:nth-child(2) {
    background-image: url(../skills/python.png);
  }
  
  .grid__item:nth-child(3) {
    background-image: url(../skills/html.png);
  }

  .grid__item:nth-child(4) {
    background-image: url(../skills/css.png);
  }
  
  .grid__item:nth-child(5) {
    background-image: url(../skills/js.png);
  }

  .grid__item:nth-child(6) {
    background-image: url(../skills/react.png);
  }

  .grid__item:nth-child(7) {
    background-image: url(../skills/node-js.png);
  }

  .grid__item:nth-child(8) {
    background-image: url(../skills/mongodb.png);
  }
  
  .grid__item:nth-child(9) {
    background-image: url(../skills/plus.png);
  }


/* MEDIA QUIRIES */

@media (max-width: 600px) {

  .skillsouter{
    margin-top: 18vh;
  }

  .grid__item{
    margin: 8px;
  }

    .grid {
        height: fit-content;
        width: 40%;
    }
}

@media (max-width: 400px) {

  .skillsouter{
    margin-top: 18vh;
  }
    .grid {
        height: fit-content;
    }

    .grid__item{
      margin: 8px;
    }
}



.scroll-effect {
  position: fixed;
  top: 50%;
  left: -150px;
  transform: translateY(-50%);
  background-image:linear-gradient(to bottom left, #f00 0%, #fff 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  transition: left 0.3s ease;
}

#scroll-text {
  white-space: nowrap;
  font-weight:bolder ;
    font-size: 50px;
    font-family: 'Covered By Your Grace', cursive;

  }